{% extends "admin/base_site.html" %}
{% load static %}

{% block extrastyle %}{{ block.super }}
<link rel="stylesheet" href="{% static " admin/css/login.css" %}">
{% endblock %}

{% block bodyclass %}{{ block.super }} login{% endblock %}

{% block usertools %}{% endblock %}
{% block nav-global %}{% endblock %}

{% block content %}
{% if error_message %}
<p class="errornote">{{ error_message }}</p>
{% endif %}

<div id="content-main">
    {% if pending_email %}
    <form action="{% url 'admin:login' %}" method="post" id="login-form">
        {% csrf_token %}
        <p>Код из СМС отправлен на номер телефона, привязанный к аккаунту {{ pending_email }}.</p>
        <div class="form-row">
            <label for="id_code">Код из СМС:</label>
            <input type="text" name="code" id="id_code" autofocus autocomplete="one-time-code">
        </div>
        <div class="submit-row">
            <label></label>
            <input type="submit" value="Подтвердить" class="default">
        </div>
        <div class="password-reset-link">
            <a href="{% url 'admin:login' %}?restart=1">Начать заново</a>
        </div>
    </form>
    {% else %}
    <form action="{% url 'admin:login' %}" method="post" id="login-form">
        {% csrf_token %}
        <div class="form-row">
            <label for="id_username">Email:</label>
            <input type="email" name="username" id="id_username" autofocus autocapitalize="none"
                autocomplete="username">
        </div>
        <div class="form-row">
            <label for="id_password">Пароль:</label>
            <input type="password" name="password" id="id_password" autocomplete="current-password">
            <input type="hidden" name="next" value="{{ next }}">
        </div>
        <div class="submit-row">
            <label></label>
            <input type="submit" value="Войти" class="default">
        </div>
    </form>
    {% endif %}
</div>
{% endblock %}