POSTGRES_PORT=5432
POSTGRES_DB=notifications
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_HOST=postgres

KAFKA_BROKERS=kafka:9092
KAFKA_READY_TOPIC=notification-ready
KAFKA_PENDING_TOPIC=notification-pending
KAFKA_RETRY_INTERVAL_SEC=1
KAFKA_ACKS=all

SERVICE_WAIT_MAX_ATTEMPTS=30
SERVICE_WAIT_DELAY=1.0

API_URL=http://test-notifications-service:8000
API_V1_PREFIX=/api/v1

DEBUG=0
ENVIRONMENT=test

PYTHON_VERSION=3.12
