POSTGRES_PORT=5432
POSTGRES_DB=movies
POSTGRES_USER=postgres
POSTGRES_PASSWORD=12345678
POSTGRES_HOST=postgres

REDIS_HOST=redis
REDIS_PORT=6379

SERVICE_WAIT_MAX_ATTEMPTS=30
SERVICE_WAIT_DELAY=1.0

API_URL=http://fastapi-auth:7000
API_PREFIX=/api/v1

PRIVATE_KEY_PATH = <path/to/private.pem>
PUBLIC_KEY_PATH = <path/to/public.pem>

HASH_TIME_COST=3
HASH_MEMORY_COST=65536
HASH_PARALLELISM=2

JWT_ALGORITHM=RS256
ACCESS_TOKEN_EXPIRE_MINUTES=30
REFRESH_TOKEN_EXPIRE_DAYS=7

ALLOWED_HOSTS=*
ORIGINS=*

PROJECT_NAME=AUTH
COOKIE_SECURE=1
CACHE_EXPIRE=600

YANDEX_CLIENT_ID=xxxxxxxxxxxxxxxxxxxxx
YANDEX_CLIENT_SECRET=xxxxxxxxxxxxxxxxxxxxx
YANDEX_REDIRECT_URI=https://example.com