POSTGRES_PORT=5432
POSTGRES_DB=movies
POSTGRES_USER=postgres
POSTGRES_PASSWORD=12345678
POSTGRES_HOST=postgres

REDIS_HOST=redis
REDIS_PORT=6379

SERVICE_WAIT_MAX_ATTEMPTS=30
SERVICE_WAIT_DELAY=1.0

API_URL=http://test-analytics-service:6000
API_PREFIX=/api/v1

PRIVATE_KEY_PATH=/app/keys/private.pem
PUBLIC_KEY_PATH=/app/keys/public.pem

JWT_ALGORITHM=RS256
ACCESS_TOKEN_EXPIRE_MINUTES=30
REFRESH_TOKEN_EXPIRE_DAYS=7

ALLOWED_HOSTS=*
ORIGINS=*

PROJECT_NAME=AUTH
COOKIE_SECURE=1
CACHE_EXPIRE=600

DEBUG=0
ENVIRONMENT=test

AUTH_API_PUBLIC_KEY_URL=http://test-auth-service:7000/api/v1/jwt.key/

HASH_TIME_COST=2
HASH_MEMORY_COST=65536
HASH_PARALLELISM=1

OTEL_EXPORTER_OTLP_ENDPOINT=otel-collector:4317
OTEL_SERVICE_NAME=auth-service
OTEL_PYTHON_FASTAPI_EXCLUDED_URLS="/health"
KAFKA_BUFFER_SIZE=30
